*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9E9DFF;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}
.contenedor{
    width: 340px;
    height: 340px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
/* helices */
.helice-1, 
.helice-2{
    display: flex;
    justify-content: space-between;
    animation: helice-1 50s infinite;
    
}
.helice-1{
    justify-self: center;
    grid-area: 1 / 2 / span 3 / span 1;
    width: 50%;
    height: 100%;
    flex-direction: column;
}
.helice-2{
    align-self: center;
    grid-area: 2 / 1 / span 1 / span 3;
    width: 100%;
    height: 50%;
}
/* propiedades de los circulos */
.circle-1, 
.circle-2
{
    width: 100%;
    height: calc(340px / 6);
    display: flex;
    place-content: center;
    background-color: #fff;
    border-radius: 50%;
}
.circle-3, 
.circle-4
{
    width: calc(340px/ 6);
    height: 100%;
    border-radius: 50%;
}
.circle-4{
    background-color:#222222 ;
    
}
.circle-3{
    background-color: yellow;
}
/* propiedades - imagenes de las helices */
.helice-1 img{
    width: 65%;
    height:  65%;
    place-self: center;
}
.helice-2 img{
    width: 100%;
    height:  100%;
}
/* animacion */
@keyframes helice-1 {
    0%{
        transform: rotate(360deg);
    }
}
/* propiedades circulo del centro*/
.circulo-general{
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: #8685EF;
    display: grid;
    place-content: center;
    border-radius: 50%;
    font-weight: 900;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
}
